:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --blue-bg-color: #0075ff33;
  --orange-color: #f59e0b;
  --orange-bg-color: #f59f0a33;
  --green-color: #22c55e;
  --green-bg-color: #22c55e33;
  --red-color: #f44336;
  --red-bg-color: #f4430233;
  --gray-color: #888;
  --c-twitter: #1da1f2;
  --bg-twitter: #1877f233;
  --c-facebook: #1876f2;
  --bg-facebook: #1876f233;
  --c-youtube: #ff0000;
  --bg-youtube: #ff000033;
  --c-linkedin: #0077b5;
  --bg-linkedin: #0077b533;
}
