<div class="page d-flex">
  <!--  Start content  -->
  <div class="content w-full overflow-h">
    <div class="profile-container">
      <div class="heading m-20 mobile-m-15 relative">
        <h1 class="h1 cap mr-20">profile</h1>
        <span class="project progress w-full"><span class="target" style="width: 40%"></span></span>
      </div>
      <!-- start wrapper -->
      <div class="wrapper d-flex flex-column p-20 mobile-p-15 gap-20 ">
        <!-- profile control widget -->
        <div class="section profile-controls d-flex mobile-column mobile-gap-15 pr-0 pl-0">
          <div class="parent d-flex flex-column align-c gap-10 border-r-eee justify-c">
            <div class="child txt-c">
              <img class="r-50-m" src=" ./app/assets/avatar.png" alt="">
            </div>
            <div class="child txt-c d-flex flex-column gap-10">
              <h3 class="fs-20 m-0">User name</h3>
              <span class="c-gray fs-16">level 20</span>
              <span class="progress relative"></span>
              <span class="star-rate c-orange">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </span>
              <span class="c-gray fs-14">550 rating</span>
            </div>
          </div>
          <div class="controls w-full">
            <div class="box p-20 mobile-p-15 pt-0 border-b-eee">
              <span class=" d-block c-gray mb-10">general information</span>
              <div class="info-line d-flex gap-15 mobile-gap-10 mobile-column flex-wrap">
                <span class=" c-gray">full name <span class="c-black">User name</span></span>
                <span class=" c-gray">gender: <span class="c-black">male</span></span>
                <span class=" c-gray">country: <span class="c-black">egypt</span></span>
                <label class="check-box shape-two flex-end" for="show-genral">
                  <input type="checkbox" id="show-genral" checked>
                  <div></div>
                </label>
              </div>
            </div>
            <div class="box p-20 mobile-p-15 border-b-eee">
              <span class=" d-block c-gray mb-10">personal information</span>
              <div class="info-line d-flex gap-15 mobile-gap-10 mobile-column flex-wrap">
                <span class=" c-gray">email: <span class="c-black">user@email.</span></span>
                <span class=" c-gray">phone: <span class="c-black">01234567891</span></span>
                <span class=" c-gray">date of birth: <span class="c-black">25/10/1982</span></span>
                <label class="check-box shape-two flex-end" for="show-personal">
                  <input type="checkbox" id="show-personal" checked>
                  <div></div>
                </label>
              </div>
            </div>
            <div class="box p-20 mobile-p-15 border-b-eee">
              <span class=" d-block c-gray mb-10">job information</span>
              <div class="info-line d-flex gap-15 mobile-gap-10 mobile-column flex-wrap">
                <span class=" c-gray">title: <span class="c-black">full stack developer</span></span>
                <span class=" c-gray">programming language: <span class="c-black">python</span></span>
                <span class=" c-gray">years of experience: <span class="c-black">15+</span></span>
                <label class="check-box shape-two flex-end" for="show-job">
                  <input type="checkbox" id="show-job" checked>
                  <div></div>
                </label>
              </div>
            </div>
            <div class="box p-20 mobile-p-15 pb-0">
              <span class=" d-block c-gray mb-10">billing information</span>
              <div class="info-line d-flex gap-15 mobile-gap-10 mobile-column flex-wrap">
                <span class=" c-gray">payment method: <span class="c-black">paypal</span></span>
                <span class=" c-gray">email: <span class="c-black">email@gmail.com</span></span>
                <span class=" c-gray">subscription: <span class="c-black">monthly</span></span>
                <label class="check-box shape-two flex-end" for="show-billing">
                  <input type="checkbox" id="show-billing" checked>
                  <div></div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="container d-flex gap-20 mobile-column">
          <!-- my skills -->
          <div class="section my-skills mobile-w-full">
            <h2>my skills</h2>
            <p>completed skills list</p>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">html</span>
              <span class="skl-shape">pugjs</span>
              <span class="skl-shape">haml</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">css</span>
              <span class="skl-shape">sass</span>
              <span class="skl-shape">stylus</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">javaScript</span>
              <span class="skl-shape">typeScript</span>
              <span class="skl-shape">OOP</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">vuejs</span>
              <span class="skl-shape">reactjs</span>
              <span class="skl-shape">angler</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">jest</span>
              <span class="skl-shape">jasmine</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">php</span>
              <span class="skl-shape">laravel</span>
            </div>
            <div class="child d-flex gap-5 border-b-eee p-15 pl-0">
              <span class="skl-shape">python</span>
              <span class="skl-shape">django</span>
            </div>
            <div class="child d-flex gap-5 p-15 pl-0 pb-0">
              <span class="skl-shape">github</span>
            </div>
          </div>
          <!-- latest activities -->
          <div class="section latest-activities flex-1">
            <h2>latest activities</h2>
            <p>latest activities done by the user</p>
            <div class="parent d-flex gap-10 mobile-p-15 p-20 pt-0 pr-0 pl-0 border-b-eee">
              <img class="img-fit-50" src="./app/assets/activities/store.jpg" alt="">
              <div class="child 0 flex-1 fs-14">
                <span>store</span>
                <span class="c-gray d-block mt-5">bought the mastering python course</span>
              </div>
              <div class="child txt-r fs-14">
                <span>18:10pm</span>
                <span class="c-gray d-block mt-5">yesterday</span>
              </div>
            </div>
            <div class="parent d-flex gap-10 mobile-p-15 p-20 pr-0 pl-0 border-b-eee">
              <img class="img-fit-50" src="./app/assets/activities/academy.jpg" alt="">
              <div class="child flex-1 fs-14">
                <span>academy</span>
                <span class="c-gray d-block mt-10">got the php certificate</span>
              </div>
              <div class="child txt-r fs-14">
                <span>16:10pm</span>
                <span class="c-gray d-block mt-10">yesterday</span>
              </div>
            </div>
            <div class="parent d-flex gap-10 mobile-p-15 p-20 pr-0 pl-0 border-b-eee">
              <img class="img-fit-50" src="./app/assets/activities/accepted.png" alt="">
              <div class="child flex-1 fs-14">
                <span>achievements</span>
                <span class="c-gray d-block mt-10">got the javaScript certificate</span>
              </div>
              <div class="child txt-r fs-14">
                <span>14:10pm</span>
                <span class="c-gray d-block mt-10">yesterday</span>
              </div>
            </div>
            <div class="parent d-flex gap-10 mobile-p-15 p-20 pr-0 pl-0 border-b-eee">
              <img class="img-fit-50" src="./app/assets/activities/accepted.png" alt="">
              <div class="child flex-1 fs-14">
                <span>badge</span>
                <span class="c-gray d-block mt-10">unlocked the 10 skills badge</span>
              </div>
              <div class="child txt-r fs-14">
                <span>14:10pm</span>
                <span class="c-gray d-block mt-10">yesterday</span>
              </div>
            </div>
            <div class="parent d-flex gap-10 mobile-p-15 p-20 pb-0 pr-0 pl-0">
              <img class="img-fit-50" src="./app/assets/activities/store.jpg" alt="">
              <div class="child flex-1 fs-14">
                <span>store</span>
                <span class="c-gray d-block mt-10">bought the typescript course</span>
              </div>
              <div class="child txt-r fs-14">
                <span>12:10pm</span>
                <span class="c-gray d-block mt-10">yesterday</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End wrapper -->
    </div>
  </div>
  <!--  End content  -->
</div>
<!-- End page -->