<div class="page d-flex">
  <!--  Start content  -->
  <div class="content w-full overflow-h">
    <div class="files-container">
      <div class="heading m-20 mobile-m-15 relative">
        <h1 class="h1 cap mr-20">files</h1>
        <span class="files progress w-full"><span class="target" style="width: 90%"></span></span>
      </div>
      <!-- start wrapper -->
      <div class="wrapper d-flex mobile-column p-20 mobile-p-15 gap-20 ">
        <div class="flies-container flex-1 d-grid gap-20 mobile-gap-15">
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto pdf" data-extend="pdf">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.pdf</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto psd" data-extend="psd">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.psd</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto dll" data-extend="dll">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.dll</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto png" data-extend="png">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.png</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto eps" data-extend="eps">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.eps</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto png" data-extend="png">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.png</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto pdf" data-extend="pdf">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.pdf</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto psd" data-extend="psd">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.psd</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto avi" data-extend="avi">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.avi</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto pdf" data-extend="pdf">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.pdf</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto avi" data-extend="avi">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.avi</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto dll" data-extend="dll">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.dll</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto eps" data-extend="eps">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.eps</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto dll" data-extend="dll">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.dll</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto png" data-extend="png">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.png</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
          <div class="section file">
            <i class="fa-solid fa-download pointer c-gray fs-20"></i>
            <div class="file-shape relative txt-c w-fit m-auto eps" data-extend="eps">
              <i class="fa-solid fa-file c-ccc"></i>
              <span class="file-name d-block mt-15">my-file.eps</span>
            </div>
            <span class="uploader-name d-block txt-l c-gray cap w-full border-b-eee fs-14 pt-20 pb-10">elzero</span>
            <span class="date-size relative d-block mt-15" file-date="01/06/2023" file-size="5.5"></span>
          </div>
        </div>
        <!-- file statistics -->
        <div class="section files-statistics">
          <h2 class="no-p">files statistics</h2>
          <div class="box r-6 border-eee d-flex align-c gap-10 p-10 mb-15">
            <i class="fa-regular fa-file-pdf c-blue fs-24 center-flex bg-alt-blue box-50"></i>
            <div class="txt flex-1">
              <span class="fw-600 fs-15 d-block">PDF files</span>
              <span class="c-gray fs-14">130</span>
            </div>
            <span class="c-gray fs-14">6.5GB</span>
          </div>
          <div class="box r-6 border-eee d-flex align-c gap-10 p-10 mb-15">
            <i class="fa-regular fa-file-pdf c-green fs-24 center-flex bg-alt-green box-50"></i>
            <div class="txt flex-1">
              <span class="fw-600 fs-15 d-block">images</span>
              <span class="c-gray fs-14">115files</span>
            </div>
            <span class="c-gray fs-14">3.5GB</span>
          </div>
          <div class="box r-6 border-eee d-flex align-c gap-10 p-10 mb-15">
            <i class="fa-regular fa-file-pdf c-red fs-24 center-flex bg-alt-red box-50"></i>
            <div class="txt flex-1">
              <span class="fw-600 fs-15 d-block">word files</span>
              <span class="c-gray fs-14">110 files</span>
            </div>
            <span class="c-gray fs-14">2.2GB</span>
          </div>
          <div class="box r-6 border-eee d-flex align-c gap-10 p-10 mb-15">
            <i class="fa-regular fa-file-pdf c-orange fs-24 center-flex bg-alt-orange box-50"></i>
            <div class="txt flex-1">
              <span class="fw-600 fs-15 d-block">csv files</span>
              <span class="c-gray fs-14">99 files</span>
            </div>
            <span class="c-gray fs-14">9.6GB</span>
          </div>
          <a href="" class="btn-shape m-auto pointer"><i class="fa-solid fa-angles-up"></i> upload</a>
        </div>
      </div>
      <!-- End wrapper -->
    </div>
  </div>
  <!--  End content  -->
</div>
<!-- End page -->