<div class="page d-flex">
  <!--  Start content  -->
  <div class="content w-full overflow-h">
    <div class="projects-container">
      <div class="heading m-20 mobile-m-15 relative">
        <h1 class="h1 cap mr-20">projects</h1>
        <span class="project progress w-full"><span class="target" style="width: 50%"></span></span>
      </div>
      <!-- start wrapper -->
      <div class="wrapper d-grid p-20 mobile-p-15 gap-20 ">
        <!-- projects reviewer -->
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">elzero dashboard</p>
          <p class="not-me mt-0 fs-14 c-gray">elzero dashboard project design and programming.</p>
          <div class="parent">
            <div class="child team pt-10 pb-20 border-b-eee">
              <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
              <img class="img-fit team-img" src="../.././app/assets/profiles/profile-2.jpg" alt="">
              <img class="img-fit team-img" src="../.././app/assets/profiles/profile-1.png" alt="">
              <img class="img-fit team-img" src="../.././app/assets/profiles/profile-3.png" alt="">
            </div>
            <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
              <span class="skl-shape">programming</span>
              <span class="skl-shape">design</span>
              <span class="skl-shape">hosting</span>
              <span class="skl-shape">marketing</span>
            </div>
            <div class="child d-flex align-c gap-20 pt-15">
              <span class="project progress flex-1"><span class="target" style="width: 50%"></span></span>
              <span class="c-gray fs-15">$ 2500</span>
            </div>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">academy portal</p>
          <p class="not-me mt-0 fs-14 c-gray">academy portal project design and programming.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-3.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-4.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-1.png" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">programming</span>
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress flex-1"><span class="target" style="width: 80%"></span></span>
            <span class="c-gray fs-15">$ 1800</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">chatting application</p>
          <p class="not-me mt-0 fs-14 c-gray">chatting application progect design.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-1.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-3.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-5.jpg" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress flex-1 completed"><span class="target" style="width: 10%"></span></span>
            <span class="c-gray fs-15">$ 950</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">Ahmed dashboard</p>
          <p class="not-me mt-0 fs-14 c-gray">Ahmed dashboard project design and programming and hosting.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-1.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-4.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">programming</span>
            <span class="skl-shape">design</span>
            <span class="skl-shape">hosting</span>
            <span class="skl-shape">marketing</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15 ">
            <span class="project progress pending flex-1"><span class="target" style="width: 40%"></span></span>
            <span class="c-gray fs-15">$ 1700</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">ahmad portal</p>
          <p class="not-me mt-0 fs-14 c-gray">ahmad portal project design and programming.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-3.png" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">programming</span>
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress flex-1"><span class="target" style="width: 90%"></span></span>
            <span class="c-gray fs-15">$ 850</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">mohamed application</p>
          <p class="not-me mt-0 fs-14 c-gray">mohamed application project design.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-2.jpg" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress flex-1 rejected"><span class="target" style="width: 50%"></span></span>
            <span class="c-gray fs-15">$ 950</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">mohamed dashboard</p>
          <p class="not-me mt-0 fs-14 c-gray">mohamed dashboard project and programming and hosting.</p>
          <div class="team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">programming</span>
            <span class="skl-shape">design</span>
            <span class="skl-shape">hosting</span>
            <span class="skl-shape">marketing</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress completed flex-1"><span class="target" style="width: 30%"></span></span>
            <span class="c-gray fs-15">$ 1950</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">mohamed portal</p>
          <p class="not-me mt-0 fs-14 c-gray">mohamed portal project design and programming.</p>
          <div class="child team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-5.jpg" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-3.png" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">programming</span>
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress pending flex-1"><span class="target" style="width: 90%"></span></span>
            <span class="c-gray fs-15">$ 1650</span>
          </div>
        </div>
        <div class="section projects-reviewer" data-date="27/05/2023">
          <p class="not-me m-0">ahmed application</p>
          <p class="not-me mt-0 fs-14 c-gray">ahmed application project design.</p>
          <div class="child team pt-10 pb-20 border-b-eee">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-4.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/avatar.png" alt="">
            <img class="img-fit team-img" src="../.././app/assets/profiles/profile-2.jpg" alt="">
          </div>
          <div class="child d-flex flex-wrap gap-5 border-b-eee pt-15 pb-15 ml-auto">
            <span class="skl-shape">design</span>
          </div>
          <div class="child d-flex align-c gap-20 pt-15">
            <span class="project progress flex-1"><span class="target" style="width: 40%"></span></span>
            <span class="c-gray fs-15">$ 950</span>
          </div>
        </div>
      </div>
      <!-- End wrapper -->
    </div>
  </div>
  <!--  End content  -->
</div>
<!-- End page -->