<div class="page d-flex">
  <!--  Start content  -->
  <div class="content w-full overflow-h">
    <div class="plans-container">
      <div class="heading m-20 mobile-m-15 relative">
        <h1 class="h1 cap mr-20">plans</h1>
        <span class="plans progress w-full"><span class="target" style="width: 100%"></span></span>
      </div>
      <!-- start wrapper -->
      <div class="wrapper d-grid p-20 mobile-p-15 gap-20 ">
        <div class="section mobile-w-full">
          <div class="price bg-green c-white w-full">
            <div class="border ">
              <div class="txt-c center fw-600 fs-30">
                <span class="d-block">free</span>
                <span class="fs-34"><sup class="fs-18">$</sup>0.00</span>
              </div>
            </div>
          </div>
          <ul class="features ls-non">
            <li class="include border-b-eee">access all text lessons.</li>
            <li class="include border-b-eee">access all videos lessons.</li>
            <li class="not-include border-b-eee">appear on leader board.</li>
            <li class="not-include border-b-eee">browse content without ads.</li>
            <li class="not-include border-b-eee">get daily prizes.</li>
            <li class="not-include border-b-eee">earn certificates.</li>
            <li class="not-include border-b-eee">1GB space for hosting files.</li>
            <li class="not-include">access badge system.</li>
          </ul>
          <a class="btn-shape bg-green" href="">join</a>
        </div>
        <div class="section mobile-w-full">
          <div class="price bg-blue c-white w-full">
            <div class="border ">
              <div class="txt-c center fw-600 fs-30">
                <span class="d-block">basic</span>
                <span class="fs-34"><sup class="fs-18">$</sup>7.99</span>
              </div>
            </div>
          </div>
          <ul class="features ls-non">
            <li class="include border-b-eee">access all text lessons.</li>
            <li class="include border-b-eee">access all videos lessons.</li>
            <li class="include border-b-eee">appear on leader board.</li>
            <li class="include border-b-eee">browse content without ads.</li>
            <li class="include border-b-eee">get daily prizes.</li>
            <li class="include border-b-eee">earn certificates.</li>
            <li class="not-include border-b-eee">1GB space for hosting files.</li>
            <li class="not-include">access badge system.</li>
          </ul>
          <a class="btn-shape bg-blue" href="">join</a>
        </div>
        <div class="section mobile-w-full">
          <div class="price bg-orange c-white w-full">
            <div class="border ">
              <div class="txt-c center fw-600 fs-30">
                <span class="d-block">premium</span>
                <span class="fs-34"><sup class="fs-18">$</sup>19.99</span>
              </div>
            </div>
          </div>
          <ul class="features ls-non">
            <li class="include border-b-eee">access all text lessons.</li>
            <li class="include border-b-eee">access all videos lessons.</li>
            <li class="include border-b-eee">appear on leader board.</li>
            <li class="include border-b-eee">browse content without ads.</li>
            <li class="include border-b-eee">get daily prizes.</li>
            <li class="include border-b-eee">earn certificates.</li>
            <li class="include border-b-eee">1GB space for hosting files.</li>
            <li class="include">access badge system.</li>
          </ul>
          <a class="btn-shape bg-orange current bg-transparent" href="">this is your current plan</a>
        </div>
        <!-- End wrapper -->
      </div>
    </div>
    <!--  End content  -->
  </div>
  <!-- End page -->