<div class="page d-flex">
  <!--  Start content  -->
  <div class="content w-full overflow-h">
    <div class="courses-container">
      <div class="heading m-20 mobile-m-15 relative">
        <h1 class="h1 cap mr-20">courses</h1>
        <span class="courses progress w-full"><span class="target" style="width: 60%"></span></span>
      </div>
      <!-- start wrapper -->
      <div class="wrapper d-grid p-20 mobile-p-15 gap-20 ">
        <!-- projects reviewer -->
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/design-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/avatar.png" alt="">
          <div class="parent bg-white border-t-eee p-20   mobile-p-15  ">
            <p class="not-me m-0 fw-600">master web design</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">master the art of web designing and media queries and know
              everything about breakpoint.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 650</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 90</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/php-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-3.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20 mobile-p-15">
            <p class="not-me m-0 fw-600">php examples</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">php tutorial and examples and practice on web application and
              connecting with databases.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/algorighms-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-4.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20 mobile-p-15">
            <p class="not-me m-0 fw-600">data structure and algorithms</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering the art of data structure and famous algorithms like
              sorting , dividing and conquering.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/design2-poster.png" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-2.jpg" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">master web design</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">master the art of web designing and media queries and know
              everything about breakpoint.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img border-b-eee" src="../.././app/assets/courses/python-poster.png" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-1.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">mastering python</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering python to prepare for data science and ai and
              automation things in your life.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/resposive2-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-5.jpg" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">responsive web design</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering responsive web design and media queries and know
              everything about breakpoint.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/syper-security-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-3.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative ent p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">fully saved</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering the art of data structure and famous algorithms like
              sorting , dividing and conquering.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/resposive-poster.png" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-5.jpg" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">master web design</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">elzero dashboard project design and programming.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/mastering-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/avatar.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">responsive web design</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering responsive web design and media queries and know
              everything about breakpoint.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
        <div class="section p-0 courses-reviewer overflow-h" data-date="27/05/2023">
          <img class="cors-img" src="../.././app/assets/courses/python-poster.jpg" alt="">
          <img class="img-fit" src="../.././app/assets/profiles/profile-1.png" alt="">
          <div class="parent bg-white border-t-eee z-1 relative p-20     mobile-p-15">
            <p class="not-me m-0 fw-600">python mastering</p>
            <p class="not-me mt-20 mb-20 fs-13 c-gray">mastering python to prepare for data science and ai and
              automation things in your life.</p>
            <div class="child relative d-flex space-between pt-15 c-gray fs-14 border-t-eee">
              <span><i class="fa-regular fa-user"></i> 950</span>
              <span><i class="fa-solid fa-dollar-sign"></i> 165</span>
              <a class="btn-shape" href="">course info</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End wrapper -->
    </div>
  </div>
  <!--  End content  -->
</div>